body{
    margin: 0 10px;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*tw6n0o*_ga*MTkzODM0NDA1OS4xNjQ0ODE4NDI0*_ga_3LRZM6TM9L*MTY1NTYxMDAwMy4xMTMuMS4xNjU1NjEwMDYwLjM');
    width:100%;
    height: auto;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
/*Brushes section*/
.brushes {
    background-color: mediumspringgreen;
    width:100%;
    height: auto;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

/*Brushes  + art_frames title and paragraph */
.Hacksaw_Brushes,
.art_frames,
.paint_finnish {
    font-family: Helvetica;
    font-weight: bold;
}

/*change font-family of paragraph*/
.brush_section p,
.frames_section p,
.paint_section p {
    font-family: Helvetica;
}




/*change text color to blue*/
.brush_section p text,
.frames_section p text,
.paint_section p text {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}


/*Art Frames section*/
.frames {
    background-color: lightcoral;
    width:100%;
    height: auto;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

/*Paint section*/
.paint {
    background-color: skyblue;
    width:100%;
    height: auto;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}